.saved-news-header {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  width: 100%;
  color: #1a1b22;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.saved-news-header__sub-title {
  color: rgba(26, 27, 34, 0.5);
  margin: 120px auto 0 104px;
}
.saved-news-header__title {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  margin: 28px auto 0 104px;
}
.saved-news-header__info {
  margin: 28px auto 56px 104px;
}
.saved-news-header__info-bold {
  font-weight: 500;
}
/*Tablet version*/
@media (max-width: 1027px) {
  .saved-news-header__sub-title {
    font-size: 16px;
    margin: 80px auto 0 40px;
  }
  .saved-news-header__title {
    font-size: 30px;
    line-height: 34px;
    margin: 16px auto 0 40px;
  }
  .saved-news-header__info {
    font-size: 14px;
    margin: 16px auto 32px 40px;
  }
}
/*Mobile version*/
@media (max-width: 650px) {
  .saved-news-header__sub-title {
    width: 90%;
    font-size: 12px;
    margin: 64px auto 0;
  }
  .saved-news-header__title {
    width: 90%;
    margin: 16px auto 0;
  }
  .saved-news-header__info {
    width: 90%;
    font-size: 18px;
    margin: 16px auto 32px;
  }
}
