.about {
  display: flex;
  margin: 0 auto;
  width: 100%;
  background: #ffffff;
  align-items: center;
  color: #1a1b22;
  font-style: normal;
  font-weight: 400;
}
.about__avatar {
  height: 464px;
  width: 464px;
  border-radius: 1000px;
  object-fit: cover;
  margin: 80px 56px 80px 104px;
}
.about__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 42vw;
  margin: 131px auto 279px 0;
}
.about__title {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  margin: 0 auto 24px 0;
}
.about__text {
  font-size: 18px;
  line-height: 24px;
}
