.popup__link-button-info-tip {
  color: #2f71e5;
  background-color: white;
  border: none;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: start;
  margin: 14px auto 51px 36px;
  padding: 0;
}
.popup__link-button-info-tip:hover {
  opacity: 0.6;
  transition: linear 0.2s;
  cursor: pointer;
}
