.search-form {
  display: flex;
  margin: 0 auto;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(../../images/search-bg.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  font-style: normal;
  font-weight: 400;
}
.search-form__title {
  display: flex;
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  max-width: 608px;
  margin: 160px auto 0;
  text-align: left;
}
.search-form__subtitle {
  font-size: 18px;
  line-height: 24px;
  display: flex;
  max-width: 608px;
  margin: 32px auto 0;
  text-align: left;
}
.search-form__form {
  display: flex;
  max-width: 608px;
  margin: 64px auto 80px;
  position: relative;
  flex-direction: row;
}
.search-form__input {
  display: flex;
  height: 64px;
  width: 608px;
  border-radius: 100px;
  border: none;
  padding: 0 180px 0 24px;
}
.search-form__submit-button {
  position: absolute;
  height: 64px;
  width: 168px;
  left: 440px;
  top: 0;
  border-radius: 100px;
  border: none;
  background: #2f71e5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  box-sizing: content-box;
  padding: 0;
}
.search-form__submit-button:hover {
  background: #347eff;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  transition: linear 0.2s;
  cursor: pointer;
}
.search-form__submit-button:focus {
  background: #2a65cc;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  transition: linear 0.2s;
  cursor: pointer;
}
