.card-list {
  display: grid;
  margin: 64px auto 0;
  max-width: 1232px;
  grid-template-columns: repeat(auto-fit, 400px);
  grid-gap: 16px;
  padding: 0;
}
@media (max-width: 1404px) {
  .card-list {
    max-width: 90%;
    grid-template-columns: repeat(auto-fit, calc((100% - 32px) / 3));
  }
}
@media (max-width: 1024px) {
  .card-list {
    margin: 32px auto 0;
    max-width: 90%;
    grid-template-columns: repeat(auto-fit, calc((100% - 16px) / 3));
    grid-gap: 8px;
  }
}
@media (max-width: 720px) {
  .card-list {
    max-width: 90%;
    grid-template-columns: repeat(auto-fit, calc((100% - 8px) / 2));
  }
}
@media (max-width: 426px) {
  .card-list {
    max-width: 90%;
    margin: 24px auto 0;
    grid-template-columns: repeat(auto-fit, 100%);
  }
}
